body {
    background-color: #FFFFFF;
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-span-top {
    color: #2E2F42;
}

.logo-span-bottom {
    color: white;
}

.nav-list {
    list-style-type: none;
}

.nav-item {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #2e2f42;
    text-decoration: none;
}

.nav-item:hover,
.nav.item:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}
.address-list {
    list-style-type: none;
}

.adress-item {
    color: #434455;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: none;
}

.hero {
    background-color: #2E2F42;
    height: 600px;
}

.main-header {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.32px;
    text-align: center;
}

.button {
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    cursor: pointer;
}

.description {
    list-style-type: none;
}

.description-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: black;  
}

.team {
    background-color: #F4F4FD;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.32px; 
    color: black;
    text-align: center;
}

footer {
    background-color: #2E2F42;
    color: white;
}

